# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BengkelProgram\skorch_sign_classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
